html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: "Inter", sans-serif;
}
h1 {
margin: 0;
margin-top: 40px;
font-weight: 800;
font-style: italic;
line-height: 100%;
letter-spacing: -1.5px;
}
.menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
    padding: 64px 120px;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
}
.menu:target{
    transform: translateX(0%);
}
.menu-top{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 64px;
}
.nav-link{
    text-decoration: none;
    color: #292929;
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;


}
.nav-link:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 64px 120px;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(images/Headphones-image-1.png);
    background-size: cover;
    background-position: top center;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.menu-button{
    height: 24px;
    width: 24px;
    display: block;
    background-image: url(images/icon-burger-menu.png);
}
.menu-button-close{
     height: 24px;
    width: 24px;
    display: block;
    background-image: url(images/icon-close.png);
}
.menu-button:hover{
    background-image: url(images/icon-burger-menu-hover.png);
}
main{
    padding: 120px;
    background-color: #fff;
}
.recommended-title{
text-align: center;
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: -1.5px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.product-photo{
    width: 100%;
}
.product-title{
    margin: 0;
    margin-top: 32px;
    font-weight: 700;
}
.product-decription{
margin: 0;
margin-top: 8px;
}
.product-price{
margin: 0;
margin-top: 12px;
font-weight: 700;
}
.categories-title{
margin-top: 120px;
font-weight: 700;
margin-bottom: 64px;
font-size: 48px;
letter-spacing: 1.5px;
line-height: 48px;
letter-spacing: -1.5px;
text-align: center;
}
.photos{
display: flex;
justify-content: space-between;

}
.photo-wide{
width: 66%;
}
.photo-square{
width: 33%;
}
.category{
    margin-top: 64px;
}
.category-title{
font-weight: 700;
font-size: 24px;
line-height: 140%;
margin: 0;
margin-top: 16px;
}
footer {
position: sticky;
bottom: 0;
height: 460px;
z-index: -1;
background-image: url(images/woman.png);
background-size: cover;
background-position: top center;

}
.benefits{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 24px;
margin-top: 120px;
}
.benefits-title{
margin: 0;
font-weight: 700;
line-height: 48px;
font-size: 48px;
letter-spacing: -1.5px;
}
.benefits-content{
margin: 0;
flex-direction: column;
font-weight: 700;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
}
.benefits-text{
margin-top: 40px;
font-weight: 400;
font-size: 16px;
line-height: 27px;
letter-spacing: 0px;
}